

.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.menu ul li {
  display: inline;
  margin: 0 1rem;
}

.menu-link {
  text-decoration: none;
  color: var(--main-white);
}

#menu-item-container {
  position: relative;
  /* background-color: #eff48e; */
  padding: 4px 8px;
}

#button-container {
  position: absolute;
  display: none;

}

#menu-item-container li a:hover {
  color: var(--main-green);/*#888;*/

}

#menu-item-container:hover #button-container {
  display: block;
}


.sub-menu-container {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 120px;

}

.sub-menu-item {
  text-align: center;
  width: 100%;
  color: black;
  margin-top: 4px;
  margin-left: 0;
  padding: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(176,169,176,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(176,169,176,1);
  box-shadow: 0px 1px 3px 0px rgba(176,169,176,1);
}

.sub-menu-item:hover {

  background-color: #ccc;//var(--main-green);
}
